/* body{
    
        max-width: 100%;
        margin: 0 auto;
        padding: 2rem;
        justify-content: center;
        text-align: center;
        background-color: antiquewhite;
}

#myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      } */